.active {
  color: lime;
}

.inactive {
  color: white;
}

.nav-item:hover {
  color: lime;

  transition: 1s ease-out;
}
.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-bar {
  display: flex;
}


.mobile-nav{
  display: none;
}

@media (max-width: 768px) {
  .nav-bar {
    display: none !important;
  }
  .mobile-nav{
    display: block !important;
  }
}