.active {
  color: lime;
}

.inactive {
  color: white;
}

.nav-item:hover {
  color: lime;

  transition: 1s ease-out;
}

.nav-bar {
  display: flex;
}

.mobile-nav {
  position: relative;
  z-index: 15;
  
}

.mobile-menu {
height: 100vh;
position: relative;
  z-index: 25;
}

.animate-open {
  animation: open-menu 1s normal both;
}

@media (max-width: 768px) {
  .nav-bar {
    display: none !important;
  }
  .mobile-nav {
    display: block !important;
  }
}

.header {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
}

.typing-animation {
  animation: typing 2s steps(26) 1 normal both,
    cursor 500ms steps(44) infinite normal;
}

.deleting-animation {
  animation: deleting 2s steps(26) 2s 1 reverse both,
    cursor 500ms steps(44) infinite normal;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12rem;
  }
}

@keyframes deleting {
  from {
    width: 0;
  }
  to {
    width: 12rem;
  }
}

@keyframes cursor {
  from {
    border-right-color: rgb(34, 182, 34);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes open-menu {
  from {
    height: 0;
    width: 0;
    max-height: 0;
  }
  to {
    height: 100vh;
    width: 100vw;
    background-color: red;
  }
}
